In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('data-1696194754434.csv')

In [11]:
df

              region_name  salary
0          Алтайский край   25960
1        Амурская область   43156
2   Архангельская область   47526
3    Астраханская область   32166
4    Белгородская область   31163
..                    ...     ...
80   Чеченская Республика   26108
81   Чувашская Республика   27028
82           Чукотский АО   96930
83      Ямало-Ненецкий АО   86560
84    Ярославская область   33882

[85 rows x 2 columns]

In [5]:
df

              salary
count      85.000000
mean    38831.800000
std     16459.723565
min     24550.000000
25%     28232.000000
50%     32973.000000
75%     40728.000000
max    101662.000000

In [7]:
bad = ['Чеченская Республика', 'Белгородская область', 'Волгоградская область', 'Тверская область', 'Ростовская область']

In [12]:
df = df[~df['region_name'].isin(bad)]

In [17]:
df1 = df['salary'].sort_values().reset_index(drop=True)

In [18]:
df1

0      24550
1      25318
2      25663
3      25699
4      25719
       ...
75     77277
76     78946
77     86560
78     96930
79    101662
Name: salary, Length: 80, dtype: int64

In [21]:
df1.loc[24]

29892

In [23]:
df1.loc[47]

36048

In [24]:
df1.loc[52]

37867

In [25]:
df1.mean()

39399.05